<!-- section -->
<!-- ================ -->
<section class="pv-30 background-img-7">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<span class="icon large default-bg circle"><i class="fa fa-diamond"></i></span>
					<h3>Qué  Hacemos</h3>
					<div class="separator clearfix"></div>
					<p class="text-muted">Promovemos valores positivos nosotros a través de la radio. Enfatizamos la vida positiva y les acompañamos con energía positiva a todos nuestros oyentes. Nos esforzamos en traer al oyente cerca de la radio.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
					<span class="icon large dark-bg circle"><i class="fa fa-connectdevelop"></i></span>
					<h3>Cómo lo Hacemos</h3>
					<div class="separator clearfix"></div>
					<p class="text-muted">Con música, programación diferente y original, mensajes que animan y retan a superarnos. Involucrándonos fuertemente con eventos de la comunidad; campañas, conciertos, promoviendo eventos con la sociedad y tratar de involucrarnos en la manera de lo posible asistiendo a ellas.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
					<span class="icon large default-bg circle"><i class="icon-snow"></i></span>
					<h3>Porque lo Hacemos</h3>
					<div class="separator clearfix"></div>
					<p class="text-muted">Tenemos amor para lo que hacemos, para nuestras comunidades, nuestros vecinos, y por nuestro hermoso país. Estamos impacientes por compartir con nuestros oyentes la energía.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- section end -->
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
	<div class="container">
		<div class="row">
			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-9">

				<!-- page-title start -->
				<!-- ================ -->
				<!-- page-title end -->
				<div class="row">
					<div class="col-lg-12">
						<h2>Misión</h2>
						<div class="separator"></div>
						<p class="large text-center">
							Producir contenidos radiales de excelente calidad, interactuando a través de contenidos innovadores, para entretener, educar e informar, agregándole valor a la sociedad.
						</p>
						<p class="large text-center">
							Promueve el sentido de pertenencia con base en la honestidad, lealtad, participación activa, proyección y posibilidades de ascenso del empleado y cumple la función social propia de la radio en el afianzamiento de valores.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h2>Visión</h2>
						<div class="separator"></div>
						<p class="large text-center">
							Ser la radio líder especializada en brindar música, entretenimiento e información a nuestras audiencias con una programación entretenida, diferente y original, de calidad creativa y con responsabilidad social. “llegar a ser la primera opción como medio de comunicación para los oyentes, usuarios y anunciantes".
						</p>
						<p class="large text-centergfh">
							Será en el año 2016 una empresa radial de gran audiencia, ubicándose entre las tres cadenas radiales más importantes de Imbabura, Santo Domingo de los Tsáchilas y Esmeraldas;por el recurso humano, por la calidad y variedad de su programación, por su tecnología, por sus equipos modernos de producción, emisión, transmisión y servicios de audio streaming, que expanden nuestra señal al mundo, como un valor agregado para nuestros clientes.
						</p>
					</div>
				</div>

			</div>
			<div class="col-sm-3">
				<div class="separator-2"></div>
				<h3 class="title">Contact Me</h3>
				<ul class="list-icons">
					<li><i class="fa fa-phone pr-10 text-default"></i> +00 1234567890</li>
					<li><i class="fa fa-mobile pr-10 text-default"></i> +00 1234567890</li>
					<li><a href="mailto:info@janedoe.com"><i class="fa fa-envelope-o pr-10"></i>info@janedoe.com</a></li>
				</ul>
				<h3>Follow Me</h3>
				<div class="separator-2"></div>
				<a target="_blank" href="https://www.linkedin.com/" class="btn btn-animated linkedin btn-sm">Linkedin<i class="pl-10 fa fa-linkedin"></i></a>
				<a target="_blank" href="https://www.xing.com/" class="btn btn-animated xing btn-sm">Xing<i class="fa fa-xing"></i></a>
				<h3>See My Portfolio</h3>
				<a class="btn btn-gray collapsed btn-animated" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent">Click Me <i class="fa fa-plus"></i></a>
				<div class="block clearfix">
					<h3 class="title">Featured Project</h3>
					<div class="separator-2"></div>
					<div id="carousel-portfolio-sidebar" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#carousel-portfolio-sidebar" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-portfolio-sidebar" data-slide-to="1"></li>
							<li data-target="#carousel-portfolio-sidebar" data-slide-to="2"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<div class="image-box shadow text-center mb-20">
									<div class="overlay-container">
										<img src="assets/images/portfolio-4.jpg" alt="">
										<a href="portfolio-item.html" class="overlay-link">
											<i class="fa fa-link"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="image-box shadow text-center mb-20">
									<div class="overlay-container">
										<img src="assets/images/portfolio-1-2.jpg" alt="">
										<a href="portfolio-item.html" class="overlay-link">
											<i class="fa fa-link"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="image-box shadow text-center mb-20">
									<div class="overlay-container">
										<img src="assets/images/portfolio-1-3.jpg" alt="">
										<a href="portfolio-item.html" class="overlay-link">
											<i class="fa fa-link"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- main end -->
		</div>
	</div>
</section>
<!-- main-container end -->