<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title">
            <h4>
                <span class="glyphicon glyphicon-edit"></span> <strong>Tipo Vendedor</strong>
                <span title="Cerrar"><i ng-click="cancel()" class="glyphicon glyphicon-remove icon-arrow-right pull-right"></i></span>
            </h4>
            <p>Todos los campos marcados con asterisco (<span class="red">*</span>) son obligatorios.</p>
        </div>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="userForm" role="form" novalidate>
            <div class="alert alert-danger alert-dismissable" ng-show="items.isError">
                <strong>Error!</strong> {{items.mensajeError}}.
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label"><strong>Nombre</strong> <span class="red"> *</span></label>
                <div class="col-lg-10" ng-class="{ 'has-error' : userForm.nombre.$invalid && !userForm.nombre.$pristine }">
                    <input type="text" placeholder="Tipo vendedor" name="nombre" class="form-control" ng-model="items.cliente.nombre" onkeypress="return letrasnumeros(event)" ng-minlength="4" ng-maxlength="255" required>
                    <div ng-show="userForm.nombre.$error.required && !userForm.nombre.$pristine" class="red">El campo Nombre es requerido.</div>
                    <div ng-show="userForm.nombre.$error.minlength" class="red">El campo Nombre es muy pequeño, minimo 4 caracteres.</div>
                    <div ng-show="userForm.nombre.$error.maxlength" class="red">El campo Nombre es muy grande, maximo 255 caracteres.</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label"><strong>Observaciones</strong></label>
                <div class="col-lg-10">
                    <input type="text" placeholder="Observaciones" name="observaciones" class="form-control" ng-model="items.cliente.observaciones" ng-maxlength="255">
                    <div ng-show="userForm.observaciones.$error.maxlength" class="red">El campo observaciones es muy grande, maximo 255 caracteres.</div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="guardar()"><i class="ace-icon fa fa-check"> Guardar</i></button>
        <button class="btn btn-warning" ng-click="cancel()"><i class="ace-icon fa fa-times"> Cancelar</i></button>
    </div>

</div>
