<div class="vc_body">
    <!-- Header Start -->
    <header data-active="home" class="header-1 mode-1" id="header">
        <div class="vc_primary-menu-wrapper">
            <div class="container">
                <div class="row">
                    <nav class="vc_menu">
                        <div class="logo">
                            <a href="#/Imbabura">
                                <img alt="logo" src="assets/img/logo.png">
                            </a>
                        </div>
                        <div class="vc_primary-menu">
                            <ul>
                                <li id="mega-menu"> <a href="#/Imbabura"> Home <i class="fa fa-caret-down"> </i> </a>
                                    <div class="vc_menu-open-right vc_mega-menu medium-width">
                                        <div class="child-menu">
                                            <h3>OyeFm en</h3>
                                            <div class="vc_line"></div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>Oye lo que te gusta :) OYEFM está más cerca de ti, también encuéntranos en.</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 text-center vc_column">
                                                    <a href="#/Esmeraldas">
                                                        <span class="large">
                                                            <i class="fa fa-map-pin"></i> Esmeraldas
                                                        </span>
                                                    </a>                                                    
                                                </div>
                                                <div class="col-md-4 text-center vc_column">
                                                    <a href="#/Imbabura">
                                                        <span class="large">
                                                            <i class="fa fa-map-marker"></i> Imbabura
                                                        </span>
                                                    </a>                                                    
                                                </div>
                                                <div class="col-md-4 text-center vc_column">
                                                    <a href="#SantoDomingo">
                                                        <span class="large">
                                                            <i class="fa fa-street-view"></i> SantoDomingo
                                                        </span>
                                                    </a>                                                    
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <a class="vc_btn" href="">Evento Aniversario Inbox
                                                    <span class="fa fa-envelope-o"></span>
                                                  </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- child-menu -->
                                    </div>
                                    <!-- vc_mega-menu -->
                                </li>
                                <li> 
                                  <a href="#/Imbabura/Corporativo"> <span class="fa fa-globe"></span> Corporativo </a>
                                </li>
                                <li> 
                                  <a href="#/Imbabura/Tarifa"> <span class="fa fa-credit-card"></span> Tarífas </a> 
                                </li>
                                <li> 
                                  <a href="#/Imbabura/Programacion"> <span class="fa fa-bars"></span> Programación </a> 
                                </li>
                                <li> 
                                  <a href="#/Imbabura/Podcast"> <span class="fa fa-music"></span> Podcast </a> 
                                </li>
                                <li> 
                                  <a href="#/Imbabura/Noticias"> <span class="fa fa-comment-o"></span> Noticias </a> 
                                </li>
                                <li> 
                                  <a href="#/Imbabura/Contactos"> <span class="fa fa-envelope"></span> Contactos </a> 
                                </li>
                            </ul>
                            <!-- Head menu search form ends -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="vc_secondary-menu-wrapper">
            <div class="container">
              <div class="row">
                <div class="vc_secondary-menu">
                  <div class="vc_contact-top-wrapper col-xs-12 col-sm-7 col-md-8 col-lg-10">
                    <div class="vc_contact-top">
                      <div class="pull-left">
                        <h5> 
                          <i class="fa fa-envelope"></i>
                          <a href="mailto:info@oyefm.com?subject=feedback">info@oyefm.com</a>
                        </h5>
                      </div>
                      <div class="pull-left">
                        <h5> 
                          <span> 
                            <i class="fa fa-phone"> </i>062-606-027 
                          </span>
                          <span>
                            <i class="fa fa-mobile"></i>0998693535
                          </span>
                        </h5>
                      </div>
                      <div class="pull-right">
                        <h5> 
                          <a href="" title=""><i class="fa fa-arrow-right"></i> Rendición de cuentas </a>
                          <span>
                          <a href="#/Imbabura/CodigoDeontologico" title=""><i class="fa fa-arrow-right"></i> Código Deontológico </a>
                        </h5>
                      </div>
                    </div>
                  </div>
                  <!-- Inicio Redes Sociales -->
                  <div class="vc_social-share-wrapper hidden-xs col-sm-5 col-md-4 col-lg-2">
                    <div class="vc_social-share vc_tight pull-right"> 
                      <a title="Twitter" class="twitter" href="https://twitter.com/oyefm931"  target="_blank"> 
                        <i class="fa fa-twitter"></i> 
                      </a> 
                      <a title="Facebook" class="facebook" href="https://www.facebook.com/OYEfmImbabura"  target="_blank"> 
                        <i class="fa fa-facebook"></i> 
                      </a> 
                      <a title="Youtube" class="youtube" href="https://www.youtube.com/channel/UCd3nO-R6N8za5NQZnvsizvA"  target="_blank"> 
                        <i class=" fa fa-youtube-play"></i> 
                      </a> 
                      <a title="Instagram" class="instagram" href="https://www.instagram.com/oyefm/"  target="_blank"> <i class="fa fa-instagram"></i> 
                      </a> 
                    </div>
                  </div>
                  <!-- Fin de Redes Sociales -->
                </div> 
                <div class="vc_sub-menu-bg"><div class="element-1"></div>
                  <div class="element-2"></div>
                </div> 
              </div>
            </div>  
              <!-- container row --> 
        </div>
        <div class="vc_menu-bg">
            <div class="element-1"></div>
            <div class="element-2"></div>
        </div>
    </header>
    <!-- Header Ends -->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
            <div app-view-segment="1">
            </div>
        </div>
        <div class="col-sm-3">
            <!-- reproductor -->
            <div class="row">
                <div class="col-sm-12">
                    <div id="bg_player-0">
                        <div class="bg_player">
                            <div class="bg_rounder-play hidden" ng-click="clickplay()">
                                <span class="large">
                                    <img src="assets/img/player/play.png">
                                </span>
                            </div>
                            <div class="bg_rounder-stop" ng-click="clickpause()">
                                <span class="large">
                                    <img src="assets/img/player/pause.png">
                                </span>
                            </div>
                        </div>
                        <div class="information-option">
                            <div class="row">
                                <h3 id="lbl_titulo-x"><i class="fa fa-spinner fa-spin"></i></h3>
                            </div>
                            <div class="row">
                                <h5 class="lbl_sub_titulo"><i class="fa fa-spinner fa-spin"></i></h5>
                            </div>                            
                        </div>
                        <div class="id_subtitulo-player">
                            Oye, lo que te gusta 93.1
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- redes sociales -->
                <!-- facebook -->
                <div class="row">
                    <div class="col-sm-12">
                        <div    class="fb-page"
                                data-href="https://www.facebook.com/oyefm93.1" 
                                data-tabs="timeline" data-small-header="false" 
                                data-adapt-container-width="true" 
                                data-hide-cover="false" 
                                data-show-facepile="true">
                                <div class="fb-xfbml-parse-ignore">
                                    <blockquote cite="https://www.facebook.com/oyefm93.1">
                                        <a href="https://www.facebook.com/oyefm93.1">
                                            <i class="fa fa-spinner fa-spin"></i>
                                        </a>
                                    </blockquote>
                                </div>
                        </div> 
                    </div>
                </div>
                <!-- Twitter -->
                <a class="twitter-timeline" href="https://twitter.com/oyefm931" data-widget-id="695267215843672070">
                    <i class="fa fa-spinner fa-spin"></i>
                </a>
        </div>
    </div>
    
    <!-- Footer Start -->
    <footer class="footer-1 mode-1" id="footer">
        <div class="vc_footer-links">
            <div class="wrapper">
                <div class="container">
                    <div class="vc_footer-line"> </div>
                    <div class="row">
                        <div id="vc_footer-about" class="footer-widget widget col-md-3">
                            <div class="vc_about">
                                <h3> Estamos ubicados en</h3>
                                <div class="vc_address">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="icon"><i class="fa fa-map-marker"> </i></td>
                                                <td>
                                                    <address>
                                                        Ibarra-Imbabura, <br>
                                                        Av. Jaime Rivadeneira y <br>
                                                        Av. Mariano Acosta<br>
                                                        <br>
                                                    </address>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="icon"><i class="fa fa-mobile"> </i></td>
                                                <td> 099 869 3535 </td>
                                            </tr>
                                            <tr>
                                                <td class="icon"><i class="fa fa-whatsapp"> </i></td>
                                                <td> +(593) 099 869 3535 </td>
                                            </tr>
                                            <tr>
                                                <td class="icon"><i class="fa fa-phone"> </i></td>
                                                <td> 2606-027 </td>
                                            </tr>
                                            <tr>
                                                <td class="icon"><i class="fa fa-envelope-o"> </i></td>
                                                <td> info@oyefm.com </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="vc_social-share vc_tight"> 
                                    <a title="Twitter" class="twitter" href="https://twitter.com/oyefm931" target="_blank"> 
                                    <i class="fa fa-twitter"></i> 
                                    </a> 
                                    <a title="Facebook" class="facebook" href="https://www.facebook.com/OYEfmImbabura" target="_blank"> 
                                    <i class="fa fa-facebook"></i> 
                                    </a> 
                                    <a title="Youtube" class="youtube" href="https://www.youtube.com/channel/UCd3nO-R6N8za5NQZnvsizvA" target="_blank"> 
                                    <i class=" fa fa-youtube-play"></i> 
                                    </a> 
                                    <a title="Instagram" class="instagram" href="https://www.instagram.com/oyefm/" target="_blank"> <i class="fa fa-instagram"></i> </a> 
                                </div>
                            </div>
                        </div>
                        <div id="vc_footer-gallery" class="footer-widget widget col-md-3">
                           <h3> Patrocinadores </h3>
                           <div class="row">
                               <div class="col-sm-12">
                                    <div id="vc_gallery-widget-2" class="sidebar-widget widget block">  
                                        <div class="vc_gallery">
                                            <ul>
                                                <li>
                                                <img alt="office image" src="assets/img/patrocinadores/01.jpg"></a>
                                                </li>
                                                <li>
                                                <img alt="office image" src="assets/img/patrocinadores/02.jpg"></a>
                                                </li>
                                                <li>
                                                <img alt="office image" src="assets/img/patrocinadores/03.jpg"></a>
                                                </li>
                                                <li>
                                                <img alt="office image" src="assets/img/patrocinadores/04.jpg"></a>
                                                </li>
                                                <li>
                                                <img alt="office image" src="assets/img/patrocinadores/05.jpg"></a>
                                                </li>
                                                <li>
                                                <img alt="office image" src="assets/img/patrocinadores/06.jpg"></a>
                                                </li>
                                                <li>
                                                <img alt="office image" src="assets/img/patrocinadores/07.jpg"></a>
                                                </li>
                                                <li>
                                                <img alt="office image" src="assets/img/patrocinadores/08.jpg"></a>
                                                </li>
                                                <li>
                                                <img alt="office image" src="assets/img/patrocinadores/09.jpg"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                           </div>
                        </div>
                        <div id="vc_footer-twitter" class="footer-widget widget col-md-3">
                            <div class="vc_twitter-mini">
                                <h3> Mapa </h3>
                                 <!-- websta - websta.me -->
                                 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7444292625523!2d-78.12314564431117!3d0.34870465847430043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x03d778c186951ad3!2sOYE+FM+93.1!5e0!3m2!1ses!2sec!4v1461249234280" width="100%" height="210" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div id="vc_footer-newsletter-form-widget" class="footer-widget widget col-md-3">
                            <div class="vc_newsletter-form">
                                <h3> Me Gusta </h3>
                                <!-- Trigger the modal with a button -->
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
            <!-- wrapper -->
        </div>
        <!-- vc_footer-links -->

        <div class="vc_bottom">
            <div class="wrapper">
                <div class="container">
                    <div class="vc_footer-line"> </div>
                    <div class="bg">
                        <div class="row">
                            <div class=" col-sm-12 col-md-4">
                                <div class="copyright pull-left">
                                    <h5> Copyright ©2016 Conceptual Bussines Group. </h5>
                                </div>
                            </div>
                            <div class=" col-sm-12 col-md-8">
                                <div class="menu pull-right"> 
                                    <a href="#/Imbabura/corporativo"><i class="fa fa-globe"></i> Corporativo </a>
                                    <a href="#/Imbabura/tarifas"> <i class="fa fa-credit-card"></i> Tarífas </a>
                                    <a href="#/Imbabura/programacion"> <i class="fa fa-bars"></i> Programación </a>
                                    <a href="#/Imbabura/podcast"> <i class="fa fa-music"></i> Podcast </a>
                                    <a href="#/Imbabura/noticias"> <i class="fa fa-comment-o"></i> Noticias </a>
                                    <a href="#/Imbabura/contactos"> <i class="fa fa-envelope"></i> Contactos </a>              
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body no-padding">
                <img src="assets/img/NONSTOP2.jpg">
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .modal-body {
        position: relative;
         padding: 0px; 
    }
</style>