<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">

                <!-- page-title start -->
                <!-- ================ -->
                
                <div class="separator-2"></div>
                <!-- page-title end -->

                <!-- timeline grid start -->
                <!-- ================ -->
                <div class="timeline clearfix">

                    <div class="timeline-date-label clearfix">Programacion</div>

                    <!-- timeline grid item start -->
                    <div class="timeline-item">
                        <!-- blogpost start -->
                        <article class="blogpost shadow light-gray-bg bordered" data-animation-effect="fadeInUpSmall" data-effect-delay="10">
                            <div class="overlay-container">
                                <img src="imbabura/podcast/img/despertador.png" alt="">
                                <a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
                            </div>
                            <header>
                                <h2><a href="blog-post.html">El Despertador</a></h2>
                                <div class="post-info">
                                    <span class="post-date">
											<i class="icon-calendar"></i>
                                    <span class="month">Lunes a Viernes , De 14:30 PM -- 18:00 PM</span>
                                    </span>
                                    <span class="submitted"><i class="icon-user-1"></i> by <a href="#">admin</a></span>                                    
                                </div>
                            </header>
                            <div class="blogpost-content">
                                <p>
                                    Este espacio es un avance informativo, Con información de Noticias de interés, Internacionales, Nacionales, Regionales y locales, considerado de igual manera un espacio de Entrevistas a los actores de los hechos y aconteceres noticiosos del momento con la finalidad de llegar a brindar una información verídica a nuestros radio escuchas.
                                </p>
                            </div>
                            <footer class="clearfix">
                                <div class="link pull-right"><i class="icon-link"></i><a href="#">Ver más</a></div>
                            </footer>
                        </article>
                        <!-- blogpost end -->
                    </div>
                    <!-- timeline grid item end -->

                    <!-- timeline grid item start -->
                    <div class="timeline-item pull-right">
                        <!-- blogpost start -->
                        <article class="blogpost shadow light-gray-bg bordered" data-animation-effect="fadeInUpSmall" data-effect-delay="50">
                            <div class="overlay-container">
                                <img src="imbabura/podcast/img/despertador.png" alt="">
                                <a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
                            </div>
                            <header>
                                <h2><a href="blog-post.html">La Sartén Por El Mango</a></h2>
                                <div class="post-info">
                                    <span class="post-date">
											<i class="icon-calendar"></i>
                                    <span class="month">Lunes a Viernes,</span>
                                    <span class="day"><i class="fa fa-clock-o"></i> De 08:30 AM -- 12:30 PM</span>
                                    </span>
                                    <span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
                                </div>
                            </header>
                            <div class="blogpost-content">
                                <p>Un programa que se caracteriza por ser manejado por un grupo de mujeres de tipo revista familiar donde la creatividad, el buen sentido del humor, la cocina, el deporte, temas de familia, novedades del espectáculo, belleza, salud, buena música compuesto así también con la presencia de especialistas en distintos ámbitos de interés social y familiar con propuestas actuales y de interés son parte de la diversión y el entretenimiento para el público oyente.</p>
                            </div>
                            <footer class="clearfix">
                                <div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a></div>
                            </footer>
                        </article>
                        <!-- blogpost end -->
                    </div>
                    <!-- timeline grid item end -->

                    <!-- timeline grid item start -->
                    <div class="timeline-item">
                        <!-- blogpost start -->
                        <article class="blogpost shadow light-gray-bg bordered object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                            <div class="overlay-container">
                                <img src="imbabura/podcast/img/despertador.png" alt="">
                                <a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
                            </div>
                            <header>
                                <h2><a href="blog-post.html">Inbox</a></h2>
                                <div class="post-info">
                                    <span class="post-date">
											<i class="icon-calendar"></i>
											<span class="day">Lunes a Viernes,</span>
                                    <span class="month"><i class="fa fa-clio"></i></span>
                                    </span>
                                    <span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
                                    <span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
                                </div>
                            </header>
                            <div class="blogpost-content">
                                <p>Un espacio juvenil con propuestas actuales, entretenido, dinámico y con una buena selección musical y dosis de buen humor además de variación y complacencia para los oyentes, brinda espacios de interés compuesto por varias segmentaciones de jocosidad y saludos para quienes están siempre conectados, Posee interacción de entrevistas a la semana para brindar espacios a los talentos tanto locales como nacionales dentro del ámbito juvenil principalmente.</p>
                            </div>
                            <footer class="clearfix">
                                <div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a></div>
                            </footer>
                        </article>
                        <!-- blogpost end -->
                    </div>
                    <!-- timeline grid item end -->

                    <!-- timeline grid item start -->
                    <div class="timeline-item pull-right">
                        <!-- blogpost start -->
                        <article class="blogpost shadow light-gray-bg bordered object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                            <div class="overlay-container">
                                <img src="imbabura/podcast/img/despertador.png" alt="">
                                <a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
                            </div>
                            <header>
                                <h2><a href="blog-post.html">LosHP</a></h2>
                                <div class="post-info">
                                    <span class="post-date">
											<i class="icon-calendar"></i>
											<span class="day">Lunes a Viernes,</span>
                                    <span class="month"> De 18:00 PM -- 20:00 PM</span>
                                    </span>
                                    <span class="submitted"><i class="icon-user-1"></i> by <a href="#">admin</a></span>
                                </div>
                            </header>
                            <div class="blogpost-content">
                                <p>
                                    na programación con dirección cultural e interactivo donde el público elige todas las canciones que sonarán durante la programación. Matizado con biografías, segmentos especiales, entrevistas, chacota, estreno del mundo rock y la más interesante información de variedades.
                                </p>
                            </div>
                            <footer class="clearfix">
                                <div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a></div>
                            </footer>
                        </article>
                        <!-- blogpost end -->
                    </div>
                    <!-- timeline grid item end -->

                    <!-- timeline grid item start -->
                    <div class="timeline-item">
                        <!-- blogpost start -->
                        <article class="blogpost shadow light-gray-bg bordered object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                            <div class="overlay-container">
                                <img src="imbabura/podcast/img/despertador.png" alt="">
                                <a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
                            </div>
                            <header>
                                <h2><a href="blog-post.html">El Gordo La Flaca Y La Diabla</a></h2>
                                <div class="post-info">
                                    <span class="post-date">
											<i class="icon-calendar"></i>
											<span class="day">Lunes a Viernes,</span>
                                    <span class="month"> De 21:00 PM -- 24:00 PM</span>
                                    </span>
                                    <span class="submitted"><i class="icon-user-1"></i> by <a href="#">admin</a></span>
                                </div>
                            </header>
                            <div class="blogpost-content">
                                <p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
                            </div>
                            <footer class="clearfix">
                                <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
                                <div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a></div>
                            </footer>
                        </article>
                        <!-- blogpost end -->
                    </div>
                    <!-- timeline grid item end -->
                </div>
                <!-- timeline grid end -->
            </div>
            <!-- main end -->
        </div>
    </div>
</section>
<!-- main-container end -->