<!-- section start -->
<!-- ================ -->
<section id="portfolio" class="section pv-30 light-gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="separator"></div>
			</div>
		</div>
	</div>
	<!-- isotope filters start -->
	<div class="filters text-center">
		<ul class="nav nav-pills">
			<li class="active"><a href="#" data-filter="*">Todo</a></li>
			<li><a href="#" data-filter=".web-design">Categoría1</a></li>
			<li><a href="#" data-filter=".app-development">Categoría2</a></li>
			<li><a href="#" data-filter=".site-building">Categoría3</a></li>
		</ul>
	</div>
	<!-- isotope filters end -->
	<div class="isotope-container row grid-space-0 mb-20">
		<div class="col-sm-6 col-md-4 isotope-item web-design">
			<div class="assets/image-box text-center">
				<div class="overlay-container">
					<img src="assets/images/portfolio-1.jpg" alt="">
					<div class="overlay-bottom">
						<div class="links">
							<a href="assets/images/portfolio-1.jpg" class="popup-img btn btn-gray-transparent btn-animated btn-sm radius-50" title="assets/image title"><i class="icon-plus-1"></i>Ver</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 isotope-item app-development">
			<div class="assets/image-box text-center">
				<div class="overlay-container">
					<img src="assets/images/portfolio-2.jpg" alt="">
					<div class="overlay-bottom">
						<div class="links">
							<a href="assets/images/portfolio-2.jpg" class="popup-img btn btn-gray-transparent btn-animated btn-sm radius-50" title="assets/image title"><i class="icon-plus-1"></i>Ver</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 isotope-item app-development">
			<div class="assets/image-box text-center">
				<div class="overlay-container">
					<img src="assets/images/portfolio-3.jpg" alt="">
					<div class="overlay-bottom">
						<div class="links">
							<a href="assets/images/portfolio-3.jpg" class="popup-img btn btn-gray-transparent btn-animated btn-sm radius-50" title="assets/image title"><i class="icon-plus-1"></i>Ver</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 isotope-item web-design">
			<div class="assets/image-box text-center">
				<div class="overlay-container">
					<img src="assets/images/portfolio-4.jpg" alt="">
					<div class="overlay-bottom">
						<div class="links">
							<a href="assets/images/portfolio-4.jpg" class="popup-img btn btn-gray-transparent btn-animated btn-sm radius-50" title="assets/image title"><i class="icon-plus-1"></i>Ver</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 isotope-item site-building">
			<div class="assets/image-box text-center">
				<div class="overlay-container">
					<img src="assets/images/portfolio-5.jpg" alt="">
					<div class="overlay-bottom">
						<div class="links">
							<a href="assets/images/portfolio-5.jpg" class="popup-img btn btn-gray-transparent btn-animated btn-sm radius-50" title="assets/image title"><i class="icon-plus-1"></i>Ver</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 isotope-item app-development">
			<div class="assets/image-box text-center">
				<div class="overlay-container">
					<img src="assets/images/portfolio-6.jpg" alt="">
					<div class="overlay-bottom">
						<div class="links">
							<a href="assets/images/portfolio-6.jpg" class="popup-img btn btn-gray-transparent btn-animated btn-sm radius-50" title="assets/image title"><i class="icon-plus-1"></i>Ver</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 isotope-item site-building">
			<div class="assets/image-box text-center">
				<div class="overlay-container">
					<img src="assets/images/portfolio-7.jpg" alt="">
					<div class="overlay-bottom">
						<div class="links">
							<a href="assets/images/portfolio-7.jpg" class="popup-img btn btn-gray-transparent btn-animated btn-sm radius-50" title="assets/image title"><i class="icon-plus-1"></i>Ver</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 isotope-item app-development">
			<div class="assets/image-box text-center">
				<div class="overlay-container">
					<img src="assets/images/portfolio-8.jpg" alt="">
					<div class="overlay-bottom">
						<div class="links">
							<a href="assets/images/portfolio-8.jpg" class="popup-img btn btn-gray-transparent btn-animated btn-sm radius-50" title="assets/image title"><i class="icon-plus-1"></i>Ver</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- section end -->