<!-- banner start -->
<!-- ================ -->
<div class="banner video-background-banner pv-40 dark-translucent-bg hovered">
	<!-- breadcrumb end -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center col-md-offset-2 pv-20">
				<h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
					Porque lo Hacemos
				</h2>
				<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
				<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
					Tenemos amor para lo que hacemos, para nuestras comunidades, nuestros vecinos, y por nuestro hermoso país. Estamos impacientes por compartir con nuestros oyentes la energía.
				</p>
			</div>
		</div>
	</div>
</div>

<!-- banner end -->
<section class="pv-30">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<!-- pills start -->
				<!-- ================ -->
				<!-- Nav tabs -->
				<uib-tabset active="active">
				    
				    <uib-tab index="0">
				        <uib-tab-heading>
				            <i class="icon-heart pr-10"></i>Despertador
				        </uib-tab-heading>				        
				        <img src="imbabura/podcast/img/despertador.png" alt="">
						<iframe src="http://www.ivoox.com/player_es_podcast_174407_1.html" width="100%" style="border: 1px solid #D7D7D7;" height="440" frameborder="0" allowfullscreen="0" scrolling="no" >
  						</iframe>
				    </uib-tab>
				    <uib-tab index="1">
				        <uib-tab-heading>
				            <i class="fa fa-venus-double"></i> La Sarten Por El Mango
				        </uib-tab-heading>
				        <img src="imbabura/podcast/img/despertador.png" alt="">
						<iframe src="http://www.ivoox.com/player_es_podcast_174407_1.html" width="100%" style="border: 1px solid #D7D7D7;" height="440" frameborder="0" allowfullscreen="0" scrolling="no" >
  						</iframe>
				    </uib-tab>
				    <uib-tab index="2">
				        <uib-tab-heading>
				            <i class="fa fa-envelope-o"></i> Inbox
				        </uib-tab-heading>
				        <img src="imbabura/podcast/img/despertador.png" alt="">
						<iframe src="http://www.ivoox.com/player_es_podcast_174407_1.html" width="100%" style="border: 1px solid #D7D7D7;" height="440" frameborder="0" allowfullscreen="0" scrolling="no" >
  						</iframe>
				    </uib-tab>
				    <uib-tab index="3">
				        <uib-tab-heading>
				            <i class="fa fa-hand-rock-o"></i> LosHP
				        </uib-tab-heading>
				        <img src="imbabura/podcast/img/despertador.png" alt="">
						<iframe src="http://www.ivoox.com/player_es_podcast_174407_1.html" width="100%" style="border: 1px solid #D7D7D7;" height="440" frameborder="0" allowfullscreen="0" scrolling="no" >
  						</iframe>
				    </uib-tab>
				    <uib-tab index="4">
				        <uib-tab-heading>
				            <i class="fa fa-smile-o"></i> El Gordo La Flaca Y La Diabla
				        </uib-tab-heading>
				        <img src="imbabura/podcast/img/despertador.png" alt="">
						<iframe src="http://www.ivoox.com/player_es_podcast_174407_1.html" width="100%" style="border: 1px solid #D7D7D7;" height="440" frameborder="0" allowfullscreen="0" scrolling="no" >
  						</iframe>
				    </uib-tab>
				</uib-tabset>				
				<!-- pills end -->
			</div>
			<div class="col-sm-3">
				<h2 class="title">Find Us</h2>
				<div class="separator-2"></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium odio voluptatem necessitatibus illo vel dolorum soluta.</p>
				<ul class="social-links circle animated-effect-1">
					<li class="facebook"><a target="_blank" href="http://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
					<li class="twitter"><a target="_blank" href="http://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
					<li class="googleplus"><a target="_blank" href="http://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
					<li class="linkedin"><a target="_blank" href="http://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
					<li class="xing"><a target="_blank" href="http://www.xing.com/"><i class="fa fa-xing"></i></a></li>
				</ul>
				<div class="separator-2"></div>
				<ul class="list-icons">
					<li><i class="fa fa-map-marker pr-10 text-default"></i> One infinity loop, 54100</li>
					<li><i class="fa fa-phone pr-10 text-default"></i> +00 1234567890</li>
					<li><a href="mailto:info@theproject.com"><i class="fa fa-envelope-o pr-10"></i>info@theproject.com</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
